<div class="container">
	<div class="row">
		<h2>Boîte de réception</h2>
	</div>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-2">

			<table class="table table-striped">
				
				<tr>
					<th>Objet du mail</th>
				</tr>
				
				<% @emails.each do |email| %>
				<tr>
					<!-- affiche les objects des emails -->
					<td id="object_<%= email.id %>" class="read"><%= link_to email.object, email_path(email), remote: true %></td>
				</tr>
				<% end %>

			</table>

		</div>

		<div class="col-lg-6">

			<table class="table table-striped">
				<tr>
					<th>Contenu</th>
				</tr>
				<table>
						<!-- affiche les objects, les emails et le bouton supprimer-->
					<% @emails.each do |email| %>
					
					<div id="body_<%= email.id %>" class="emailcontent" style="display: none;">
						<div class="row" id="box">
							<h1><%= email.object %></h1><br>
							<p><%= email.body %></p>
						</div>
					</div>

					<% end %>
				</table>
			</table>

		</div>

	</div> <!-- end row -->
</div> <!-- end container -->
